{% extends 'layout.twig' %}

{% block title %}Account{% endblock %}
{% block content %}


    <p>sign in</p>
    <form action="" method="get">
        Username: <input type="text" name="username"><br>
        Password: <input type="text" name="password"><br>
        <input type="submit" name="send">
    </form>

    <p>registration</p>
    <form action="" method="post">
        Username: <input type="text" name="username"><br>
        Password: <input type="text" name="password"><br>
        <input type="submit" name="send">
    </form>




{% endblock %}